.templateEditor {
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  overflow: scroll;
  height: 90vh;
}

.templateEditor-sketch {
  position: absolute;
  top: 100%;
  z-index: 999;
}
