.preview {
    display: flex;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .preview {
        font-size: 10px;
    }
  }