.templateBuilder {
  width: 100%;
}

.templateBuilder-editor {
  display: flex;
}

.templateBuilder-display {
  width: 75%;
  flex-grow: 1;
  height: fit-content;
}

.templateBuilder-setting {
  width: 25%;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .templateBuilder-setting {
    display: none;
  }

  .templateBuilder-display {
    width: 100%;
    border-right-style: none;
  }

  .templateBuilder {
    width: 100%;
  }
}
