.templateBuilder {
  width: 100%;
}

.templateBuilder-editor {
  display: flex;
  margin: 0px 10px 0px 10px;
}

.templateBuilder-display {
  width: 80%;
  flex-grow: 1;
}

.templateBuilder-setting {
  width: 20%;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .templateBuilder-setting {
    display: none;
  }

  .templateBuilder-display {
    width: 100%;
    flex-grow: 1;
    border-right-style: none;
  }

  .templateBuilder {
    width: 100%;
  }
}
