.navbar {
  width: 100%;
  border-bottom-style: solid;
  border-width: 0.5px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 40px 20px 40px;
}

.navbar-container section {
  display: flex;
  gap: 10px;
}

.navbar-input-header {
  height: 24px;
  font-size: 22px;
  border-style: hidden;
  font-weight: bold;
}

.navbar-button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0.5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.navbar-button:hover {
  background-color: #e0e0e0;
  border-color: #999;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    width: 100%;
    border-right-style: none;
    margin: 10px 0px 10px 0px;
    justify-content: space-around;
  }

  .navbar-container section {
    flex-direction: column;
    gap: 5px;
  }

  .navbar-input-header {
    width: 50%;
    border-style: hidden;
  }
}
