.page-setting-picker {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  padding: 10px 0px 10px 0px;
  margin: 10px 10px 10px 10px;
}

.page-setting-sketch {
  position: absolute;
  top:100%;
  z-index: 999;
}